h1 {
    color: rgb(0, 30, 255);
    text-align: center;
}
.matrika {
    position: relative;
}
.matrika:before, .matrika:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.matrika:before {
    left: -6px;
    border-right: 0;
}
.matrika:after {
    right: -6px;
    border-left: 0;
}
/* .row.no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
  
  .row.no-gutter [class*='col-']:not(:first-child),
  .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
  } */
.det {
    position: relative;
}
.det:before, .det:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.det:before {
    left: -6px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}
.det:after {
    right: -6px;
    border-left: 0;
    border-top: 0;
    border-bottom:0;
}