h1 {
    color: rgb(41, 50, 114);
    text-align: end;
}
.matrika {
    position: relative;
    border-collapse:separate;
    border-spacing:10px 0;
    margin-left: -10px;
    margin-right: -10px;
}
td {
    text-align: center;
}
.matrika:before, .matrika:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.matrika:before {
    left: -2px;
    border-right: 0;
}
.matrika:after {
    right: -2px;
    border-left: 0;
}
.det {
    position: relative;
    border-collapse:separate;
    border-spacing:10px 0;
    margin-left: -10px;
    margin-right: -10px;
}
.det:before, .det:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.det:before {
    left: -6px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}
.det:after {
    right: -6px;
    border-left: 0;
    border-top: 0;
    border-bottom:0;
}
.vnos {
    border-radius: 25px;
}